// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-content {
  margin: 1rem auto;


  .new-article-button {
    margin: 1rem 0;

    a {
      border: 1px solid #999;
    }

    a:hover {
      background: #999;
      color: #111;
    }
  }

  .article-listing-content {
    margin: 1rem 0;
  }
}
